{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>Kid's Bulle</h1>
    <p>Système de planning pour inscrire les enfants aux activités des clubs.</p>

    <h2>Les Cours</h2>
    <div class="row">
        {% for category in categories %}
            <div class="col alert alert-secondary m-3" style="background-color:{{ category.color }}">
                <h3>{{ category.name }}</h3>
                <p>{{ category.description }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
