{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<section class="mb-4">
    <h1 class="text-light">Kid's Bulle</h1>
    <p class="text-light">Système de planning pour inscrire les enfants aux activités des clubs.</p>

    <div class="row">
        {% for category in categories %}
            <div class="col-4">
                <div class="alert" style="background-color:{{ category.color }}">
                    <h3>{{ category.name }}</h3>
                    <p>{{ category.description }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</section>

<section class="mb-4">
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">Planning</h1>
        </div>
        <div class="card-body">
            {% include "shared/_planning.html.twig" %}
        </div>
    </div>
</section>

{% endblock %}
