{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>Kid's Bulle</h1>
    <p>Système de planning pour inscrire les enfants aux activités des clubs.</p>

    {% if is_granted("ROLE_USER") %}
        {% include "home/_planning.html.twig" %}
        {% else %}
        <a class="btn btn-primary" href="{{ path('app_login') }}">Se connecter</a>
    {% endif %}
{% endblock %}
