{% extends 'base.html.twig' %}

{% block title %}{{"Accueil"|trans}}{% endblock %}

{% block body %}
<section class="mb-4">
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">{{"Planning"|trans}}</h1>
        </div>
        <div class="card-body">
            <turbo-frame id="planning_home">
                {% include "planning/_nav_month.html.twig" %}
                {% include "planning/_planning.html.twig" %}
            </turbo-frame>
        </div>
    </div>
</section>
{% endblock %}
