{% extends 'base.html.twig' %}

{% block title %}Hello DayController!{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">Copier le {{ day|format_datetime(pattern='dd MMM', locale='fr')|capitalize}}</h1>
        </div>
        <div class="card-body">
            {{ form_start(form)}}
            {{ form_widget(form)}}
            <button type="submit" class="btn btn-primary">Copier</button>
            {{ form_end(form)}}
        </div>
    </div>
{% endblock %}
