<div class="btn-group m-1">
    <button class="btn btn-outline-dark" disabled>
        {{ child|title }}
    </button>    
    {% if is_granted("CHILD_ACCESS", child) %}
        <a class="btn btn-secondary" href="{{ path('app_activity_remove_child', {id: activity.id, child: child.id})}}">
            <i class="fa-solid fa-circle-xmark fa-xl"></i>
        </a>
    {% endif %}
</div>