{% extends 'base.html.twig' %}

{% block title %}Edit Activity{% endblock %}

{% block body %}
    <h1>Edit Activity</h1>

    {{ include('activity/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_activity_show', {id: activity.id}) }}">back to activity</a>

{% endblock %}
