{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="d-flex align-items-center justify-content-between">
        <button class="btn btn-primary inline-block">{{"Save"|trans}}</button>
    </div>
{{ form_end(form) }}
