{% extends 'base.html.twig' %}

{% block title %}{{"Edit_activity"|trans}}{% endblock %}

{% block body %}
    <div class="card col-6 mx-auto">
        <div class="card-header">
            <h1 class="card-title">{{"Edit_activity"|trans}}</h1>
            {% block linkBack %}<a class="btn btn-light" href="{{ path('app_user') }}">{{"back_to_list"|trans}}</a>{% endblock %}
        </div>
        <div class="card-body">
            {% block cardBody %}{% endblock %}
        </div>
        <div class="card-footer text-end">
            {% block cardFooter %}{% endblock %}
        </div>
    </div>
{% endblock %}
