// Custom Bootstrap Vars
$primary: #00758f;
// $primary: #01b4bb;


// Custom Css
.bg-teal {
    background-color: $primary;
}

// Rounded card corner
$card-border-radius: var(--bs-border-radius-xl);
$card-border-color: transparent;
$card-border-width: 0px;
$card-cap-bg: transparent;

$btn-border-radius: var(--bs-border-radius-xxl);

$list-group-bg: transparent;
$list-group-item-bg: transparent;

// Activity button styles
.activity-button {
    transition: filter 0.2s ease-in-out;
}

.activity-button:hover {
    filter: brightness(95%);
}
