{% extends 'base.html.twig' %}

{% block title %}{{"New_category"|trans}}{% endblock %}

{% block body %}
    <div class="card col-md-6 mx-auto">
        <div class="card-header">
            <h1 class="card-title">{{"New_category"|trans}}</h1>
            {{ component('BackButton', { url: path('app_admin_category_index') }) }}
        </div>
        <div class="card-body">
            {{ include('admin/category/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
