{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
    <div class="card col-6 mx-auto">
        <div class="card-header">
            <h1 class="card-title">Create new Category</h1>
            <a class="btn btn-light" href="{{ path('app_admin_category_index') }}">back to list</a>
        </div>
        <div class="card-body">
            {{ include('admin/category/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
