{% set activeMonth = app.request.get("date") is not null 
    ? app.request.get("date")|date("Y-m") 
    : ("now")|date("Y-m") %}

{% set previousMonth = ("first day of this month -2 month")|date("Y-m") %}


<div class="d-flex justify-content-center mb-3 py-1">

	<ul
		class="nav nav-pills">

		{# Partie ADMIN - mois précédent #}
		{% if is_granted("ROLE_ADMIN") %}
			{% set monthDate = ("first day of this month -1 month")|date('Y-m-d') %}
			{% set isActive = activeMonth == monthDate|date("Y-m") %}
			<li class="nav-item">
				{% include "planning/_nav_link_to_month.html.twig" with { date: monthDate, isActive: isActive } %}
			</li>
		{% endif %}

		{# Mois actuel + 3 mois suivants #}
		{% for i in 0..3 %}
			{% set monthDate = ("first day of this month + " ~ i ~ " month")|date('Y-m-d') %}
			{% set isActive = activeMonth == monthDate|date("Y-m") %}
			<li class="nav-item">
				{% include "planning/_nav_link_to_month.html.twig" with { date: monthDate, isActive: isActive } %}
			</li>
		{% endfor %}

	</ul>
</div>
{% if activeMonth <= previousMonth %}
	{# Afficher le nom du mois et l'année si le mois est en dehors de la barre de selection #}
	<div class="text-center mb-3 py-1">
		<h3>{{ activeMonth|format_datetime(pattern='MMMM YYYY', locale='fr')|capitalize }}</h3>
	</div>
{% endif %}
