<div class="d-flex justify-content-center">
    <ul class="nav nav-pills">
        {% for i in 0..3 %}
            {% set date = "this month + " ~ i ~ " month" %}

            <li class="nav-item m-1">
                <a class="nav-link" 
                href="{{ path(app.request.attributes.get('_route'), {date: date|date('Y-m-01')}) }}">
                    {{ date|format_datetime(pattern='MMMM', locale='fr')|capitalize }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>