<div class="table-responsive">
    <table class="table text-center">
        <tbody>
            {% for date, activities in planning %}
                {% for activity in activities %}
                    <tr class="align-middle">
                        {# Date #}
                        {% if loop.first %}
                            <td class="col-2"  {% if activities|length > 1 %} rowspan="{{ activities|length }}" {% endif %}>
                                {{ date|format_datetime(pattern='dd MMM', locale='fr') }}
                                {% if is_granted('ROLE_ADMIN') %}
                                    <br>
                                    <a href="{{ path('app_admin_day_copy', {day: date}) }}" class="btn btn-primary" data-turbo-frame="_top"><i class="fa-solid fa-copy"></i></a>
                                {% endif %}
                            </td>
                        {% endif %}
                        {# Activity #}
                        <td class="col">
                            {% include "planning/_button_activity.html.twig" %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td class="col-2">
                            {{ date|format_datetime(pattern='dd MMM', locale='fr') }}
                        </td>
                        <td class="col"></td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>