{% for label, messages in app.flashes %}
    <div class="alert alert-{{ label }} mb-4">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
{% endfor %}