{% extends 'base.html.twig' %}

{% block title %}New Child{% endblock %}

{% block body %}
    <h1>Create new Child</h1>

    {{ include('children/_form.html.twig') }}

    <a href="{{ path('app_children_index') }}">back to list</a>
{% endblock %}
