{% extends 'base.html.twig' %}

{% block title %}Planning de {{ child.firstname }}{% endblock %}

{% block body %}
    <h1>Planning de {{ child.firstname }}</h1>

    {% include "children/_planning.html.twig" %}

    <a href="{{ path('app_user') }}">back to profile</a>
{% endblock %}
