{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">{% block title %}{% endblock %}</h1>
            {% block linkBack %}<a class="btn btn-light" href="{{ path('app_user') }}">back to profile</a>{% endblock %}
        </div>
        <div class="card-body">
            {% include "shared/_planning.html.twig" %}
        </div>
    </div>
{% endblock %}
