{% extends 'base.html.twig' %}

{% block title %}{{ app.user.firstname }} {{ app.user.lastname }}{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">
            {# count activities in planning #}
            {% set act = 0 %}
            {% for date, activities in planning %}
                {% if activities %}
                    {% set act = act + 1 %}  
                {% endif %}
            {% endfor %}

            {% if act == 0 %}
                <p>{{"No_activities_in_your_planning"|trans}} !</p>
            {% else %}
                {% include "shared/_planningFamily.html.twig" %}
            {% endif %}
        </div>
    </div>
{% endblock %}