{% extends 'base.html.twig' %}

{% block title %}{{ app.user }}{% endblock %}

{% block body %}
        <div class="card">
            <div class="card-header">
                <h1 class="card-title">Planning de ma famille</h1>
            </div>
            <div class="card-body">
                {% if app.user.childs|length > 0 or is_granted("ROLE_TEACHER") %}
                    {# <turbo-frame id="planning_family"> #}
                        {% include "planning/_nav_month.html.twig" %}
                        {% include "planning/_planningFamily.html.twig" %}
                    {# </turbo-frame> #}
                {% else %}
                    <p>{{"No_activities_in_your_planning"|trans}} !</p>
                {% endif %}
            </div>
        </div>
{% endblock %}