{% extends 'base.html.twig' %}

{% block title %}{{ app.user.email | split("@")[0] | title }}{% endblock %}

{% block body %}
    <h1>{{ app.user.email | split("@")[0] | title }}</h1>
    <p>
        {{ app.user.email }}, <a href="{{ path('app_user_edit') }}">edit</a>
    </p>
    <hr>
    <div class="row">
        <h2>Mes enfants</h2>
        {% if app.user.childs %}
            {% include "children/_table.html.twig" %}
        {% else %}
            <p>
                Pas encore d'enfant sur votre profil !
            </p>
        {% endif %}
    </div>
    <hr>
    <div class="row">
            <h2>Le planning</h2>
            {% include "user/_planning.html.twig" %}
    </div>
{% endblock %}
